<nav class="navbar navbar-expand-lg navbar-toggler menu-bar" style="position: fixed;
z-index: 100; width: 100%; ">
<button class="navbar-toggler navbar-toggler-rigth" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

  <div class="col">
    <img src='../assets/imagenes/logito.png'>

  </div>
<div  class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="justify-content-end collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" href='/about' style="font-size:medium; font-family:Verdana, Geneva, Tahoma, sans-serif;">Acerca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/servicios" style="font-size: medium; font-family:Verdana, Geneva, Tahoma, sans-serif;" >Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hazteVoluntario" style="font-size: medium; font-family:Verdana, Geneva, Tahoma, sans-serif;">Hazte Voluntario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ayuda" style="font-size: medium; font-family:Verdana, Geneva, Tahoma, sans-serif;">Dona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto" style="font-size: medium;font-family:Verdana, Geneva, Tahoma, sans-serif;">Contacto</a>
      </li>

    </ul>
  </div>
</div>
 </nav>



