img{
  max-width: 400%;
  border-radius: 50%;
}
//image{
 // background-image:url(../../../assets/imagenes/newimg/db5f00c3-e848-41e9-ac67-8837c766b673.jpg);
 // opacity: 0.6;
  //background-color: rgb(204, 146, 255);
//}
.cabecera{


  background-repeat: no-repeat;
  background-size:cover;
  max-height:200%;
  color: rgb(10, 2, 2);
  line-height: 30px;

}

