<div class="container-fluid " style="background-color: rgb(154, 206, 255); padding:100px ;">
   <div  class="row justify-content-center">
      <h1 class="justify-content-center" style="color: white; font-size: xxx-large; margin-bottom: 50px;"> <b> Nuestros Servicios </b></h1>
   </div>



  <div class="row " style="justify-content: center;">

   <div class="col-md-sm-6" style="padding: 30px; justify-content: center; text-align: center;">
    <div class="">
      <img src="../assets/imagenes/odontologia.png" class="card-img-top" alt="...">
      <div class="" >
        <h1 class="">
          <b>odontología</b></h1>
        <p style="font-size: large;">Dedicados a desarrollar y ejecutar planes de tratamiento bucal para
          la atención de niñas y niños de las comunidades populares de Venezuela.</p>
      </div>

    </div>

    </div>
    <!------------------------------------------------------------------->
    <div class="col-md-sm-6" style="padding: 30px; justify-content: center; text-align: center; ">
      <div class="" style="justify-content: center; text-align: center; ">
        <img src="../assets/imagenes/nutricion.png" class="card-img-top" alt="...">
      </div>
        <div class="">
          <h1 class="">
            <b>Nutricion</b></h1>
          <p style="font-size: large;">Nuestra intención es promover buenas practicas y habitos alimenticios
             para reducir los niveles de desnutricion de niños, niñas y adolecentes en sectores populares.</p>

        </div>

      </div>
   <!------------------------------------------------------------------>
   <div class="col-md-sm-6" style="padding: 30px; justify-content: center; text-align: center; ">
    <div class="" style="justify-content: center; text-align: center; ">
      <img src="../assets/imagenes/voluntario.png" class="card-img-top" alt="...">
      </div>
      <div class="">
        <h1 class=""><b>Voluntario General </b></h1>
        <p style="font-size: large;"> El voluntario general de la organización tiene la
          oportunidad de apoyar y formarse en cada una de las áreas de acción. </p>

      </div>

    </div>

</div>
    <div class="row " style="justify-content: center;">

      <div class="col-md-sm-6" style="padding: 30px; justify-content: center; text-align: center;  ">
       <div class="">
         <img src="../assets/imagenes/newimg/db5f00c3-e848-41e9-ac67-8837c766b673.jpg" class="card-img-top" alt="...">
        </div>
         <div class="" >
           <h1 class=""><b>Recreacion</b></h1>
           <p style="font-size: large;"> Cada una de nuestras actividades estan llenas de alegria,
              gracias a nuestros reacreadores, que con juegos y dinamicas hacen que la espera de
              niños y padres sea tiempo de formacion y calidad.</p>

       </div>
       </div>
       <!-------------------------------------------------------------------->
       <div class="col-md-sm-6" style="padding: 30px; justify-content: center; text-align: center;">
         <div class="" style="justify-content: center; text-align: center; ">
           <img src="../assets/imagenes/newimg/medicina.png" class="card-img-top" alt="..." >
          </div>
           <div class="">
             <h1 class=""><b> Medicina General</b></h1>
             <p style="font-size: large;">
               Para nosotros la prevencion es imprensindible,
               por ello brindanmos acompañamineto en cada una de nuestra jornadas, al ser la medicina general
               el primer nivel de atención médica.
            </p>


         </div>
         </div>



 </div>





  </div>




