
  #barnner{
    height: 450px;
    background-size:cover;
    background-position: center;
   // background-image: url('/assets/imagenes/banner2.png');
    background-position:center ;
    background-repeat: no-repeat;

    //background-color: cornflowerblue;
    }
p{
  text-align: center;
}
.fijada {
  position: fixed;


}
