<div class="row">
  <div class="col-12">
    <app-navbar style="margin-bottom: 10px;"></app-navbar>
    <app-imagenes></app-imagenes>
 </div>
</div>


  <div class="row">
    <div class="col-12">
     <app-about ></app-about>
    </div>
  </div>


<div class="row">
  <div class="col-md-12">
    <app-sedes ></app-sedes>
  </div>
</div>

<div class="row">
  <div class="col-sm-md-12">
    <app-servicios></app-servicios>
  </div>
</div>

<div class="row">
  <app-alianzas></app-alianzas>
</div>

<div class="row">
  <app-hazte-voluntario></app-hazte-voluntario>
</div>




<div class="row">
 <div class="col-12">
  <app-proyectos></app-proyectos>
 </div>
</div>

<div>
  <app-contacto></app-contacto>
</div>

<app-footer></app-footer>
