<div class="container-fluid " style="background-color: white; padding: 50px;">

  <div class="row justify-content-center">

    <div class="col-6 col-sm-3" style="justify-content: center; text-align: center;" >
      <img  src="../assets/imagenes/1 (9).png" >

    </div>
    <!------------------------------------------------------->
    <div class="col-6 col-sm-3" style="justify-content: center; text-align: center;" >
      <img  src="../assets/imagenes/1 (8).png" >

    </div>
    <div class="col-6 col-sm-3" style="justify-content: center; text-align: center;" >
      <img  src="../assets/imagenes/1 (5).png" >

    </div>
    <!------------------------------------------------------->
    <div class="col-6 col-sm-3" style="justify-content: center; text-align: center;" >
      <img  src="../assets/imagenes/1 (1).png" >

    </div>


 </div>


</div>

