

<div  class="container-fluid cabecera " style="padding: 5%;">
  <div class="row justify-content-center">
    <div  class="col-md-12">
      <h1 class="justify-content-center" style="color: rgb(36, 11, 128); font-size:500%;"><b> Ayudanos a Ayudar</b> </h1>
   </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 style="margin: 2%; justify-content: center; text-align: center; color: aliceblue;"><b>
        Tu apoyo es importante para seguir construyendo pais, juntos somos más fuertes.</b></h1>
        <h3 style="font-size: large;">Desde ya muchas gracias, deja tus datos y a la brevedad nos comunicamos.</h3>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
       <form  style="padding: 10px; margin-top: 10%;">
        <h1 style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:rgb(101, 17, 156); font-size:500%"> <b>Dona aquí</b></h1>
      <mat-form-field appearance="fill"class="input">
        <mat-label>Nombre/Organizacion</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Dejanos un numero de telefono</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Dejanos tu Correo</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field appearance="fill" class="input" style="margin-right:  10px;">
        <mat-label>Quiero coolaborar con:</mat-label>
        <mat-select>
          <mat-option value="one">Ropa</mat-option>
          <mat-option value="two">Comida</mat-option>
          <mat-option value="two">Insumos medicos</mat-option>
          <mat-option value="two">500$</mat-option>
          <mat-option value="two">1000$</mat-option>
          <mat-option value="two">1800$</mat-option>
          <mat-option value="two">5000$</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"class="input">
        <mat-label>Dejanos alguna observacion</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button  mat-raised-button class="btn btn-block " style="background-color: rgb(72, 88, 233);">Enivar</button>
    </form>

      </div>
    <div class="col-md-6">
      <div style="padding: 10px; margin: 10%;">
      <div class="justify-content-center">
        <img  src="../assets/imagenes/newimg/cb0feea0-ff76-4436-8476-b0ec2c451968.jpg" class="justify-content-center " style="border-radius:50%; max-width: 100%; text-align: center;" >

      </div>
    </div>

   </div>


    </div>
</div>



