<div class="container-fluid" style="background-color:white; padding:50px;">



    <div class="row justify-content-center">

      <div class="col-md-6">
        <div>
          <h1 style="text-align: center; font-size: xxx-large; margin: 5%;"><b>¿Quiénes somos?</b></h1>
          <p style="font-size:large; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            Somos una organización sin fines de lucro,
            cuyo principal objetivo es contribuir con el
            desarrollo nutricional, salud y calidad de vida
            de ciudadanos en situación de riesgo.
          </p>
          <p style="font-size:large; font-family: Verdana, Geneva, Tahoma, sans-serif;">
               Está conformada por jóvenes estudiantes y
                profesionales comprometidos con
                Venezuela, cuyo objetivo es aportar al
                desarrollo sustentable de las diversas
                comunidades de nuestro territorio.
           </p>
        </div>
          <div>
            <h1 ><b>Misión</b></h1>
            <p style="font-size: large; font-family:Verdana, Geneva, Tahoma, sans-serif;">
              Contribuir con el desarrollo de la
              salud y calidad de vida de niños,
              niñas y adolescentes mediante la
              promoción de buenas prácticas y
              hábitos alimenticios y de salud para
              reducir los niveles de desnutrición
              de los sectores populares de
              Venezuela.

            </p>
          </div>

          <div>
            <h1 ><b> Visión</b></h1>
            <p style="font-size: large; font-family: Verdana, Geneva, Tahoma, sans-serif;">
              Ser una ONG estructurada y reconocida a
                nivel nacional e internacional como un
                organismo garante de promover y mejorar
                el desarrollo de la salud y calidad de vida
                de niños, niñas y adolescentes en los
                sectores más vulnerables del país.
            </p>
          </div>



    </div>


    <div class="col-md-6 ">
        <div class="justify-content-center" >
          <img  src="../assets/imagenes/mision y vision.png" class="justify-content-center" >
        </div>
    </div>


    </div>



</div>
