<div class="container-fluid" style="background-color: rgb(92, 11, 167); padding: 50px">
  <div class="row justify-content-center">
    <div  class="row justify-content-center">
      <h1 class="justify-content-center" style="color: white; font-size:xxx-large;"> Hazte <b>Voluntario</b> </h1>
   </div>

  </div>
  <div class="row">

    <div class="col-md-6">
      <div class="justify-content-center"style="padding: 20px;"  >
        <img  src="../assets/imagenes/newimg/0ae05422-78d4-45cd-9aa0-67a7407649c1.jpg" class="justify-content-center" style="border-radius:5% ; max-width: 100%;" >

      </div>
    </div>

     <div class="col-md-6">

      <form  style="padding: 20px;">
        <mat-form-field appearance="fill"class="input">
          <mat-label>Nombre y Apellido</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Correo</mat-label>
          <input matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" class="input-medio" style="margin-right:  10px;">
          <mat-label>Quiero pertenecer al equipo de: </mat-label>
          <mat-select>
            <mat-option value="one">Odontologia</mat-option>
            <mat-option value="two">Nutricion</mat-option>
            <mat-option value="two">Voluntariado general</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill"class="input-medio">
          <mat-label>Estado</mat-label>
          <mat-select>
            <mat-option value="one">Caracas</mat-option>
            <mat-option value="two">Monagas</mat-option>
            <mat-option value="two">Tachira</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill"class="input">
          <mat-label>Comentario</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="btn btn-block " style="color:  rgb(188, 155, 219);">Enivar</button>
      </form>

     </div>




     </div>




  </div>





